[Desktop Entry]
Encoding=UTF-8
Name=Link to Unicamp MC723
Type=Link
URL=http://www.ic.unicamp.br/~lucas/teaching/mc723/2016-1/ex1.html
Icon=text-html
Name[en_US]=MC723
